{% extends 'layout/base.html' %}

{% block title %}Đăng ký lịch hẹn{% endblock %}

{% block content %}
{% if err_msg %}
<div class="alert alert-danger">{{ err_msg }}</div>
{% endif %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="book-appointment" id="appointmentForm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center mb-4">Đăng ký lịch hẹn</h5>
                        <div class="mb-3">
                            <label for="datepicker" class="form-label">Chọn ngày</label>
                            <input type="date" id="datepicker" name="appointment_date" class="form-control"
                                   placeholder="Chọn ngày" min="{{ today }}" onchange="checkAppointmentDate()">
                        </div>
                        <div id="unavailableMessage" class="alert alert-warning" style="display: none;">
                            Ngày này không khả dụng. Vui lòng chọn ngày khác.
                        </div>

                        <div class="mb-3" id="paymentMethodSection" style="display: none;">
                            <p class="mb-2">Phương thức thanh toán:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment_method" id="payDirect"
                                       value="direct">
                                <label class="form-check-label" for="payDirect">Thanh toán trực tuyến</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="payment_method" id="payClinic"
                                       value="clinic">
                                <label class="form-check-label" for="payClinic">Thanh toán tại phòng khám</label>
                            </div>
                        </div>

                        <div class="mb-3" id="class-timepicker" style="display: none;">
                            <label for="timepicker" class="form-label">Chọn giờ</label>
                            <select id="timepicker" name="appointment_time" class="form-select">
                            </select>
                        </div>

                        <div class="d-grid">
                            <button type="submit" id="bookAppointmentButton" class="btn btn-primary"
                                    style="display: none;">Đặt lịch hẹn
                            </button>
                            <button type="submit" id="payAndBookAppointmentButton" class="btn btn-primary"
                                    style="display: none;">Thanh toán để đặt lịch hẹn
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/static/js/patient/patient_create_appointment.js"></script>


{% endblock %}
