{% extends 'layout/base.html' %}
{% block content %}
<main id="main" class="main py-5">
    <section class="section mx-5 my-5 shadow ">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="margin-top:-50px">
                    <div class="card-body">
                        <!-- Table with stripped rows -->
                        <div class="datatable-top">
                            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                                <div class="container-fluid">
                                    <a class="navbar-brand" href="{{ url_for('view_medicine')}}">Tất cả</a>
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#mynavbar">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="mynavbar">
                                        <ul class="navbar-nav me-auto">
                                            {% for c in category %}
                                            <li class="nav-item">
                                                <a class="nav-link" href="{{ url_for('view_medicine',cate_id=c.id)}}">{{c.name}}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <form class="d-flex" method="get" action="{{url_for('view_medicine')}}">
                                            <input class="form-control me-2" name="keyword" placeholder="Nhập tên thuốc...">
                                            <button class="btn btn-primary" type="submit">Tìm</button>
                                        </form>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <table class="table table-light datatable mt-5">
                            <thead>
                            <tr class="table-primary">
                                <th><b>Tên thuốc</b></th>
                                <th><b>Cách sử dụng</b></th>
                                <th><b>Giá</b></th>
                                <th><b>HSD</b></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for m in medicine %}
                            <tr>
                                <td>{{m.name}}</td>
                                <td>{{m.usage}}</td>
                                <td>{{m.price}} VND</td>
                                <td>{{m.exp}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% if cate_id is none %}
                        <ul class="pagination justify-content-end" style="margin:20px 0">
                            {% for idx in range(1, page+1) %}
                           <li class="page-item"><a class="page-link" href="{{ url_for('view_medicine',page=idx)}}">{{idx}}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

{% endblock %}