{% if err_msg %}
<div class="alert alert-danger">{{ err_msg }}</div>
{% endif %}
{% if request.args.get('err_msg') %}
<div class="alert alert-danger">{{ request.args.get('err_msg') }}</div>
{% endif %}
<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Đăng ký</p>
<form method="post" enctype="multipart/form-data" action="/register" novalidate>
    <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-6 mb-4" style="margin-top: -40px;">
                                <div class="d-flex flex-column mb-4">
                                    <label for="avatar"
                                           class="avatar-container d-flex justify-content-center align-items-center">
                                        <img id="avatar-preview" style="width: 220px; height: 220px; object-fit: cover;"
                                             class="rounded-circle avatar-img"
                                             src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg"
                                             alt="Avatar">
                                        <input type="file" id="avatar" name="avatar" class="d-none">
                                    </label>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="text" id="username" name="username" class="form-control"
                                                   required onblur="validateUsername(this)">
                                            <label class="form-label" for="username">Tên đăng nhập</label>
                                            <div id="username-error" class="invalid-feedback">Vui lòng nhập tên đăng
                                                nhập của bạn.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0" id="div-password">
                                            <input type="password" id="password" name="password" class="form-control"
                                                   required onblur="validatePassword(this)">
                                            <label class="form-label" for="password">Mật khẩu</label>
                                            <div id="password-error" class="invalid-feedback">Vui lòng nhập mật khẩu của
                                                bạn.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="password" id="confirm" name="confirm" class="form-control"
                                                   required onblur="validateInput(this)">
                                            <label class="form-label" for="confirm">Nhập lại mật khẩu</label>
                                            <div id="confirm-error" class="invalid-feedback">Vui lòng xác nhận lại mật
                                                khẩu của bạn.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="date" id="dob" name="dob" class="form-control" required
                                                   onblur="validateInput(this)">
                                            <label class="form-label" for="dob">Ngày sinh của bạn</label>
                                            <div id="dob-error" class="invalid-feedback">Vui lòng nhập ngày sinh của
                                                bạn.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="margin-top: 40px;">
                                <div class="d-flex flex-column mb-4">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="text" id="name" name="name" class="form-control" required
                                                   onblur="validateInput(this)">
                                            <label class="form-label" for="name">Tên của bạn</label>
                                            <div id="name-error" class="invalid-feedback">Vui lòng nhập tên của bạn.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="email" id="email" name="email" class="form-control" required
                                                   onblur="validateEmail(this)">
                                            <label class="form-label" for="email">Email của bạn</label>
                                            <div id="email-error" class="invalid-feedback">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="tel" id="phone" name="phone" class="form-control" required
                                                   maxlength="10" pattern="[0-9]{10}" onblur="formatPhoneNumber(this)">
                                            <label class="form-label" for="phone">Số điện thoại của bạn </label>
                                            <div id="phone-error" class="invalid-feedback">Vui lòng nhập số điện thoại
                                                của bạn.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0" id="div-cid">
                                            <input type="text" id="cid" name="cid" class="form-control" required
                                                   maxlength="12" onblur="validateCid(this)">
                                            <label class="form-label" for="cid">Số CMND/CCCD của bạn</label>
                                            <div id="cid-error" class="invalid-feedback">Vui lòng nhập số CMND/CCCD của
                                                bạn.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill mb-0">
                                            <input type="text" id="address" name="address" class="form-control" required
                                                   onblur="validateInput(this)">
                                            <label class="form-label" for="address">Địa chỉ của bạn</label>
                                            <div id="address-error" class="invalid-feedback">Vui lòng nhập địa chỉ của
                                                bạn.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-4 d-flex justify-content-center">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="male"
                                                   value="male" checked required>
                                            <label class="form-check-label" for="male">Nam</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="female"
                                                   value="female" required>
                                            <label class="form-check-label" for="female">Nữ</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                                        <div class="form-floating flex-fill">
                                            <input type="submit" value="Đăng ký"
                                                   class="form-control btn btn-outline-primary p-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="/static/js/register.js"></script>


