{% extends 'layout/base.html' %}

{% block title %}Đăng ký{% endblock %}

{% block content %}
<h1 class="text-center text-info mt-1">ĐĂNG KÝ NGƯỜI DÙNG</h1>
{% if err_msg %}
<div class="alert alert-danger">{{ err_msg }}</div>
{% endif %}
<form method="post" action="/register" enctype="multipart/form-data">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="name" placeholder="Họ tên" name="name" required>
        <label for="name">Họ tên</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" id="username" placeholder="Tên đăng nhập" name="username" required>
        <label for="username">Tên đăng nhập</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu" name="password" required>
        <label for="password">Mật khẩu</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="Xác nhận mật khẩu" name="confirm" required>
        <label for="confirm">Xác nhận mật khẩu</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="file" accept=".png,.jpg" class="form-control" id="avatar" name="avatar">
        <label for="confirm">Ảnh đại diện</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <button class="btn btn-success" type="submit">Đăng ký</button>
    </div>
</form>
{% endblock %}