{% extends 'layout/base.html' %}

{% block title %}Thanh Toán{% endblock %}

{% block content %}
<h1 class="text text-center text-info">HOÁ ĐƠN THANH TOÁN</h1>

<form method="post" action="/bill">
    <div class="form-group mb-3 mt-3">
        <label for="name">Họ Tên</label>
        <input type="text" class="form-control" id="name" name="name"
               value="{{patient.name}}"
               readonly required>
    </div>

    <div class="form-group mt-3 mb-3">
        <label for="date">Ngày tạo phiếu khám</label>
        <input type="date" class="form-control" id="date" name="date"
               value="{{prescription.date}}"
               readonly required>
    </div>

    <div class="form-group mt-3 mb-3">
        <label for="medicines">Thuốc được kê</label>
        <select class="form-control" id="medicines" name="medicines" multiple disabled>
            {%for MD, M, MU, U in medicines%}
                <option>
                    {{M.name}}; {{MD.usage}}; {{MD.quantity}} {{U.name}} ({{U.name}} có {{MU.quantity}} viên)
                </option>
            {%endfor%}
        </select>

    </div>

    <div class="form-group mt-3 mb-3">
        <label for="service_price">Tiền khám</label>
        <input type="number" class="form-control" id="service_price" name="service_price"
               value="100000"
               readonly required>
        <p class="text text-primary">Đã trả tiền khám rồi</p>
    </div>

    <div class="form-group mt-3 mb-3">
        <label for="medicine_price">Tiền Thuốc</label>
        <input type="number" class="form-control" id="medicine_price" name="medicine_price"
               value="{{medicine_price}}"
               readonly required>
    </div>

    <div class="form-group mt-3 mb-3">
        <label for="total">Tổng Tiền</label>
        <input type="number" class="form-control" id="total" name="total"
               value="{{total}}"
               readonly required>
    </div>

    <div class="form-floating mt-3 mb-3">
        <button class="btn btn-success me-auto" type="submit">
            Tạo hoá đơn
        </button>
    </div>

</form>

{% endblock %}