{% extends 'layout/base.html' %}

{% block title %}Thanh Toán{% endblock %}

{% block content %}
<h1 class="text text-center text-primary mt-3">HOÁ ĐƠN THANH TOÁN</h1>

<form method="post" action="/bills/{{prescription.id}}">
    <div class="d-flex">
        <div class="form-group p-1 flex-fill">
            <label for="name">Họ Tên</label>
            <input type="text" class="form-control" id="name" name="name"
                   value="{{patient.name}}"
                   readonly required>
        </div>

        <div class="form-group p-1 flex-fill">
            <label for="date">Ngày tạo phiếu khám</label>
            <input type="date" class="form-control" id="date" name="date"
                   value="{{prescription.date}}"
                   readonly required>
        </div>

    </div>

    <div class="d-flex">
        <div class="form-group flex-fill">
            <label for="medicines">Thuốc được kê</label>
            <select class="form-control" id="medicines" name="medicines" multiple disabled>
                {%for MD, M, MU, U in medicines%}
                <option>
                    {{M.name}}; {{MD.usage}}; {{MD.quantity}} {{U.name}} ({{U.name}} có {{MU.quantity}} viên)
                </option>
                {%endfor%}
            </select>

        </div>

    </div>

    <div class="d-flex">
        <div class="form-group m-1 flex-fill">
            <label for="service_price">Tiền khám</label>
            <input type="number" class="form-control" id="service_price" name="service_price"
                   value="{{service_price}}"
                   readonly required>
            {%if is_paid%}<p class="text text-primary">Đã trả tiền khám rồi</p>{%endif%}
        </div>

        <div class="form-group m-1 flex-fill">
            <label for="medicine_price">Tiền Thuốc</label>
            <input type="number" class="form-control" id="medicine_price" name="medicine_price"
                   value="{{medicine_price}}"
                   readonly required>
        </div>

    </div>

    <div class="form-group">
        <label for="total">Tổng Tiền</label>
        <input type="number" class="form-control" id="total" name="total"
               value="{{total}}"
               readonly required>
    </div>

    {%if error%}
    <div class="d-flex flex-row-reverse">
        <h1 class="text text-center text-danger">{{error}}</h1>
    </div>
    <div class="d-flex flex-row-reverse">
        <a class="btn btn-outline-primary" href="/payment">Chọn phiếu khám khác</a>
    </div>
    {%else%}
    {%if not created%}
    <div class="form-floating mt-3 mb-3 d-flex justify-content-around">
        <div class="form-check">
            <input type="radio"
                   class="form-check-input"
                   id="radio_online"
                   name="optradio"
                   onclick="displayOnlinePayment()"
                   value="radio_online"
                   >
            <label class="form-check-label" for="radio_online">Thanh toán Online</label>
        </div>
        <div class="form-check">
            <input type="radio"
                   class="form-check-input"
                   id="radio_offline"
                   name="optradio"
                   onclick="displayOfflinePayment()"
                   value="radio_offline">
            <label class="form-check-label" for="radio_offline">Thanh toán trực tiếp</label>
        </div>
    </div>
    <div id="xuat-hoa-don">
    </div>
    <div style="display: none" id="online_payment" class="online_payment">
        <div class="mb-3" id="gateway" style="display: block;">
            <p class="mb-2">Cổng thanh toán:</p>
            <div class="d-flex justify-content-center mb-3">
                <div class="form-check me-3" style="padding: 5px 50px 0 0;">
                    <label class="form-check-label" for="vnpay">VNPAY</label>
                    <img src="/static/img/vnpay.png" style="width: 50px" alt="VNPAY"
                         class="payment-icon">
                    <input class="form-check-input" type="radio" name="way" id="vnpay" value="vnpay">
                </div>
                <div class="form-check" style="padding: 5px 0 0 50px;">
                    <label class="form-check-label" for="momo">MOMO</label>
                    <img src="/static/img/momo.png" style="width: 50px" alt="MOMO" class="payment-icon">
                    <input class="form-check-input" type="radio" name="way" id="momo" value="momo">
                </div>
            </div>

            <div class="d-grid">
                <button  id="pay" class="btn btn-primary"
                         style="display: block;">Thanh toán để đặt lịch hẹn
                </button>
            </div>
        </div>

    </div>

    {%else%}
    <div class="d-flex flex-row-reverse">
        <h1 class="text text-center text-success">Hoá đơn xác nhận thành công</h1>
    </div>
    <div class="d-flex flex-row-reverse">
        <a class="btn btn-outline-primary" href="/payment">Chọn phiếu khám khác</a>
    </div>

    {%endif%}
    {%endif%}
</form>

<script src="{{ url_for('static', filename='js/cashier.js') }}"></script>

{% endblock %}