{% extends 'layout/base.html' %}

{% block title %}Thanh Toán{% endblock %}

{% block content %}
<h1 class="text text-center text-primary">DANH SÁCH PHIẾU KHÁM</h1>
<form class="d-flex" method="get" action="/payment">
    <input class="form-control ms-2" name="q" value="{{date}}" type="date" id="date" placeholder="Nhập ngày của danh sách">
    <button class="btn btn-primary me-2" type="submit">Tìm</button>
</form>

<a class="btn btn-outline-success m-2" href="/payment/all">Hiện Tất Cả</a>

<table class="table ms-4">
    <tr class="table-row">
        <th>Id</th>
        <th>Date</th>
        <th>Symptoms</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th></th>
    </tr>
    {%if prescriptions%}
        {%for P, A in prescriptions%}
            <tr class="table-row">
                <td>{{P.id}}</td>
                <td>{{A.scheduled_date}}</td>
                <td>{{P.symptoms}}</td>
                <td>
                    {%if alldoctors%}
                        {%for d in alldoctors%}
                            {%if d.id == P.doctor_id%}
                                {{d.name}}
                            {%endif%}
                        {%endfor%}
                    {%else%}
                        {{P.doctor_id}}
                    {%endif%}
                </td>
                <td>
                    {%if allpatients%}
                        {%for p in allpatients%}
                            {%if p.id == P.patient_id%}
                                {{p.name}}
                            {%endif%}
                        {%endfor%}
                    {%else%}
                        {{P.patient_id}}
                    {%endif%}
                </td>
                <td>
                    <a class="btn btn-success"
                       href="/bills/{{P.id}}">
                        <b>Tạo hoá đơn</b>
                    </a>
                </td>
            </tr>
        {%endfor%}
    {%endif%}
</table>

{% endblock %}