{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-primary mt-1">THỐNG KÊ BÁO CÁO</h1>
<div class="form-floating mb-3 mt-3">
    <label for="month">Tháng cần thống kê: </label>
    <input type="month" class="form-control" id="month" placeholder="Nhap thang can thong ke" name="month" onchange="make_stats(this)">
</div>
<h3 class="text-primary mt-1">Doanh Thu Và Tỉ Lệ </h3>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <td><strong>Ngày</strong></td>
            <td><strong>Số Bệnh Nhân</strong></td>
            <td><strong>Doanh Thu</strong></td>
            <td><strong>Tỉ Lệ</strong></td>
        </tr>
    </thead>
    <tbody id="revenue-table">
    </tbody>
</table>
<canvas id="countChart"></canvas>
<canvas id="revenueChart"></canvas>
<canvas id="percentChart"></canvas>

<h3 class="text-primary mt-1">Báo Cáo Sử Dụng Thuốc</h3>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <td><strong>Thuốc</strong></td>
            <td><strong>Đơn Vị Tính</strong></td>
            <td><strong>Số Lượng</strong></td>
            <td><strong>Số Lần Dùng</strong></td>
        </tr>
    </thead>
    <tbody id="medicine-table">
    </tbody>
</table>
<canvas id="quantityChart"></canvas>
<canvas id="medCountChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', filename='js/admin.js')}}"></script>
<script>
    // Lấy tháng và năm hiện tại
    var currentDate = new Date();
    var year = currentDate.getFullYear();
    var month = String(currentDate.getMonth() + 1).padStart(2, '0');
    var formattedMonth = year + '-' + month;

    // Đặt giá trị vào trường input
    document.getElementById('month').value = formattedMonth;

    make_stats(document.getElementById('month'))
</script>
{% endblock %}