{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-white mt-1 bg-danger">THỐNG KÊ BÁO CÁO</h1>
<div class="form-floating mb-3 mt-3">
    <label for="month"><strong>Tháng cần thống kê: </strong></label>
    <input type="month" class="form-control" id="month" placeholder="Nhap thang can thong ke" name="month" onchange="make_stats(this)">
</div>
<h2 class="text-white mt-1 bg-danger">DOANH THU VÀ TỈ LỆ: </h2>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <td colspan="4" class="text-center"><h4 class="text-primary">BÁO CÁO DOANH THU THEO THÁNG</h4></td>
        </tr>
        <tr>
            <td id="table-thang" colspan="4" class="text-center"></td>
        </tr>
        <tr>
            <td><strong>Ngày</strong></td>
            <td><strong>Số Bệnh Nhân</strong></td>
            <td><strong>Doanh Thu</strong></td>
            <td><strong>Tỉ Lệ</strong></td>
        </tr>
    </thead>
    <tbody id="revenue-table">
    </tbody>
</table>
<div class="container">
    <div class="row">
        <div class="col-7">
            <canvas id="countChart"></canvas>
        </div>
        <div class="col-5">
            <canvas id="percentChart"></canvas>
        </div>
        <div class="col-7">
            <canvas id="revenueChart"></canvas>
        </div>

    </div>
</div>

<h2 class="text-white mt-1 bg-danger">BÁO CÁO VỀ THUỐC: </h2>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <td colspan="4" class="text-center"><h4 class="text-primary">BÁO CÁO SỬ DỤNG THUỐC</h4></td>
        </tr>
        <tr>
            <td id="medicine-table-thang" colspan="4" class="text-center"></td>
        </tr>
        <tr>
            <td><strong>Thuốc</strong></td>
            <td><strong>Đơn Vị Tính</strong></td>
            <td><strong>Số Lượng</strong></td>
            <td><strong>Số Lần Dùng</strong></td>
        </tr>
    </thead>
    <tbody id="medicine-table">
    </tbody>
</table>
<canvas id="quantityChart"></canvas>
<canvas id="medCountChart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{url_for('static', filename='js/admin.js')}}"></script>
<script>
    // Lấy tháng và năm hiện tại
    var currentDate = new Date();
    var year = currentDate.getFullYear();
    var month = String(currentDate.getMonth() + 1).padStart(2, '0');
    var formattedMonth = year + '-' + month;

    // Đặt giá trị vào trường input
    document.getElementById('month').value = formattedMonth;

    make_stats(document.getElementById('month'))
</script>
{% endblock %}