{% extends 'admin/master.html' %}

{% block body %}
{% if request.args.get('err_msg') %}
<div class="alert alert-danger">{{ request.args.get('err_msg') }}</div>
{% endif %}
{%if request.args.get('success_msg')%}
<div class="alert alert-success">{{ request.args.get('success_msg') }}</div>
{%endif%}
<h1 class="text-center text-info mt-1">QUẢN LÝ THUỐC</h1>
<form class="container" method="get" action="/admin/thuocview">
    <div class="d-flex container flex-row justify-content-between">
        <div class="form-group mb-3 mt-3">
            <label for="gia_bat_dau"><b>Giá bắt đầu</b></label>
            <input class="form-control me-2" id="gia_bat_dau" name="gia_bat_dau" type="number">
        </div>
        <div class="form-group mb-3 mt-3">
            <label for="gia_ket_thuc"><b>Giá kết thúc</b></label>
            <input class="form-control me-2" id="gia_ket_thuc" name="gia_ket_thuc" type="number">
        </div>
        <div class="form-group mb-3 mt-3">
            <label for="han_dung_bat_dau"><b>Hạn dùng bắt đầu</b></label>
            <input class="form-control me-2" id="han_dung_bat_dau" name="han_dung_bat_dau" type="date">
        </div>
        <div class="form-group mb-3 mt-3">
            <label for="han_dung_ket_thuc"><b>Hạn dùng kết thúc</b></label>
            <input class="form-control me-2" id="han_dung_ket_thuc" name="han_dung_ket_thuc" type="date">
        </div>
        <div class="form-group mb-3 mt-3">
            <label for="ten"><b>Tên thuốc</b></label>
            <input class="form-control me-2" id="ten" name="name" type="text" placeholder="Nhập tên thuốc">
        </div>
    </div>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Lọc theo danh mục: </a>

      <!-- Links -->
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Chọn:
          </a>
          <div class="dropdown-menu menu-scroll" style="overflow-y: scroll; max-height: 310px;">
              <a class="dropdown-item" href="/admin/thuocview/">All</a>
            {%for dm in danhmucs%}
              <a class="dropdown-item" href="/admin/thuocview/?danhmuc_id={{dm.id}}">{{dm.name}}</a>
            {%endfor%}
          </div>
        </li>
      </ul>
    </nav>



    <div class="d-flex container flex-row justify-content-between mt-3">
        <a class="btn btn-success" href="/admin/thuocview/thuocs/">Thêm thuốc</a>
        <button class="btn btn-primary" type="submit">Tìm</button>
    </div>
</form>

<table class="table table-striped mt-3">
    <tr>
        <th>Id</th>
        <th>Tên</th>
        <th>Loại Thuốc</th>
        <th>Đơn vị</th>
        <th>Giá</th>
        <th>Cách Dùng</th>
        <th>Hạn Sử Dụng</th>
        <th></th>
    </tr>
    {%for t in thuocs|reverse%}
        <tr>
            <td>{{t.id}}</td>
            <td>{{t.name}}</td>
            <td>
                {%for dmt in danhmucthuocs%}
                    {%if dmt.medicine_id == t.id%}
                        {%for dm in danhmucs%}
                            {%if dm.id == dmt.category_id%}
                                <a>{{dm.name}}; </a>
                            {%endif%}
                        {%endfor%}
                    {%endif%}
                {%endfor%}
            </td>
            <td>
                {%for item in unit_name_and_quantity%}
                    {%if item[2] == t.id%}
                        <a>{{item[1]}} trên 1 {{item[0]}}; </a>
                    {%endif%}
                {%endfor%}
            </td>
            <td>{{t.price}} VNĐ</td>
            <td>{{t.usage}}</td>
            <td>{{t.exp}}</td>
            <td>
                <a class="btn btn-info" href="/admin/thuocview/thuocs/update/{{t.id}}">Cập nhật</a>
                <form method="post" action="/admin/thuocview/thuocs/{{t.id}}">
                    <button class="btn btn-danger mt-2" type="submit">Xoá</button>
                </form>
            </td>
        </tr>
    {%endfor%}
</table>

<script src="{{url_for('static', filename='js/admin.js')}}"></script>
{% endblock %}