{% extends 'layout/base.html' %}

{% block title %}Đăng ký{% endblock %}

{% block content %}
<style>
    .spin {
        display: flex;
        position: absolute;
        z-index: 9999;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* Một lớp mờ */

    }

    .spinner {
        animation: rotate 2s linear infinite;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        width: 50px;
        height: 50px;
    }

    .spinner .path {
        stroke: hsl(210, 70%, 75%);
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 150;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -35;
        }
        100% {
            stroke-dasharray: 90, 150;
            stroke-dashoffset: -124;
        }
    }
</style>
<div class="spin" id="spin" style="display: none;">
    <svg id="loadingIcon" class="spinner" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
    </svg>
</div>
<div class="container" id="find">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form method="GET" action="/nurse/nurse_book" class="mb-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập CCCD/CMND bệnh nhân" name="patient_cid">
                    <button type="submit_find" class="btn btn-primary">Tìm kiếm</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% if current_patient %}
<div class="container mt-3 mb-3">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            {% if current_patient.avatar %}
            <img src="{{ current_patient.avatar }}" class="img-fluid rounded-circle mb-3" alt="Avatar"
                 style="max-width: 220px;">
            {% endif %}
            <h4>Tên: {{ current_patient.name }}</h4>
            <h4>CCCD: {{ current_patient.cid }}</h4>
        </div>
    </div>
</div>
{% include '/appointment/form_book.html' %}
{% elif patient_cid %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="mb-3 alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="row align-content-center justify-content-center mt-3">
    <button class="btn btn-primary col-2 mt-3" onclick="window.location.href='/nurse/nurse_book';">Tìm bệnh nhân khác
    </button>
</div>
<form method="post" enctype="multipart/form-data" action="/register" novalidate>
{% include '/auth/form_register.html' %}
</form>
<script>
    document.getElementById('find').style.display = 'none'
    document.getElementsByTagName('form')[0].addEventListener('submit', validateForm)

    function generateRandomPassword() {
        var chars = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()';
        var password = '';
        for (var i = 0; i < 12; i++) {
            var randomNumber = Math.floor(Math.random() * chars.length);
            password += chars[randomNumber];
        }
        return password;
    }

    var randomPassword = generateRandomPassword();
    document.getElementById('password').value = randomPassword;
    document.getElementById('confirm').value = randomPassword;
</script>
{% endif %}
{% endblock %}