<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-vhloqdAPeK8rqZ8cXjkaiG+uAphBQ2HNqc/iAq+5RHph5VT8ylFrruPxN3z81iC9uP1RUrMqJLo9jV5xYHeL5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<footer class="bg-dark text-white py-4 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h5>THT Clinic</h5>
                <p>123 Đường ABC, Quận XYZ, Thành phố HCM</p>
            </div>
            <div class="col-lg-4">
                <h5>Liên hệ</h5>
                <p>Email: contact@thtclinic.com<br>Điện thoại: 0123 456 789</p>
            </div>
            <div class="col-lg-4">
                <h5>Theo dõi chúng tôi</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <p>&copy; 2024 THT Clinic. All rights reserved.</p>
    </div>
</footer>
</body>
