<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top shadow">
    <div class="container-fluid">
        <a class="navbar-brand fw-bolder" href="/">THT Clinic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Trang chủ</a>
                </li>
                {% if current_user.is_authenticated %}
                {% if current_user.role.value == 'doctor' %}
                <li class="nav-item">
                    <a class="nav-link " href="/list-patient">Danh sách bệnh nhân</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Tra cứu thuốc</a>
                </li>
                {% elif current_user.role.value == 'nurse' %}

                <li class="nav-item">
                    <a class="nav-link active" href="/nurse/confirm_appointment">Xác nhận và lập danh sách</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/nurse/approved_appointment">Xem danh sách đã lập</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/nurse/nurse_book">Đăng ký lich hẹn cho bệnh nhân</a>
                </li>
                {% elif current_user.role.value == 'patient' %}
                <li class="nav-item">
                    <a class="nav-link active" href="/patient/book">Đăng ký khám online</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/patient/{{current_user.id}}/history">Lịch sử khám của tôi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Dự đoán bệnh</a>
                </li>
                {% elif current_user.role.value == 'cashier' %}
                <li class="nav-item">
                    <a class="nav-link" href="/payment">
                        Thanh Toán
                    </a>
                </li>
                {% endif %}
                {% endif %}
                <!--                {%if current_user.is_authenticated and current_user.role.value == 'doctor'%}-->
                <!--                <li class="nav-item">-->
                <!--                    <form class="d-flex" method="get" action="/prescription">-->
                <!--                        <input class="form-control me-2" name="scheduled_date" type="date" placeholder="Nhập ngày khám">-->
                <!--                        <button class="btn btn-primary" type="submit">Hiện form</button>-->
                <!--                    </form>-->
                <!--                </li>-->
                <!--                {%endif%}-->
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ current_user.avatar }}" width="25" class="rounded-circle img-fluid me-2"/> {{
                        current_user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link rounded fw-bold" href="/login" style="color: white; background-color: #0c73cd;">Đăng
                        nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded mx-2 fw-bold" href="/register">Đăng ký</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
